@import "lib";

#about {
   padding: 8px;
   height: 400px;
   background: #FFF;
   color: @charcoal;

   h1 {
      font-size: 2.0em;
   }

   label {
      font-weight: bold;
      padding-right: 4px;
   }

   .info {
      padding-bottom: 15px;
   }

   .blurb {
   }
}
