@import "lib";

.reset;
a {
   color: @lightblue;
   text-decoration: none;

   &:hover, &active {
      color: spin(@lightblue, -25);
   }
}
body {
   .sansserif;
   background: @charcoal;
}

@default: #E3D000;
@journal: #C80000;
@gallery: #0088C8;
#header {
   position: relative;
   background: @charcoal;
   color: @ivory;
   font-size: 1.3em;
   width: 100%;
   z-index: 10;
   .display;
   height: 57px;

   h1,ul {
      margin-top: 20px;
      float: left;
   }

   h1 {
      padding-left: 30px;
      padding-right: 15px;
      font-size: 1.5em;
      position: absolute;
      border-bottom-color: @default;
   }

   ul {
      list-style: none;
      padding: 10px 0 0 120px;
      margin-bottom: 6px;

      li {
         float: left;
         margin: 0 0 0 25px;

         a {
            color: inherit;
         }
      }

      li.journal { border-bottom-color: @journal; }
      li.gallery { border-bottom-color: @gallery; }

   }

   hr {
      clear: both;
      margin: 0;
      height: 6px;
      position: absolute;
      bottom: 0;
      color: transparent;
      border: 0;
   }

   .clear;
}
.header-holder {
   display: none;
   height: 57px;
}
#header.snap {
   position: fixed;
   top: 0;
   font-size: 0.8em;

   h1,ul {
      margin-top: 0;
   }
   ul {
      padding-top: 5px;
      margin-bottom: 4px;
   }
   hr {
      height: 4px;
   }
}
.header-holder.snap { display: block; }

#footer {
   position: relative;
   bottom: 0;
   background: @charcoal;
   color: @ivory;
   font-size: 0.85em;
   padding-top: 10px;
   padding-bottom: 10px;
   border-top: solid 6px transparent;
   z-index: 2;

   ul {
      margin: 0;
      float: left;
      width: 33%;
      list-style: none;
      text-align: center;

      &:first-child { text-align: right; }
      &:last-child { text-align: left; }

      li {
         padding: 1px 0;
      }
   }

   .clear;
}

