body {
	margin: 0;
	padding: 0;
	font-family: "Estrangelo Edessa", "Franklin Gothic Medium", "Geeza Pro", "AppleGothic", "Futura", "MgOpen Modata", "Helvetica", sans-serif;
	letter-spacing: 1px;
	overflow-x: hidden;
	background: #5E5E5E;
}
table td, table {
	margin: 0;
	padding: 0;
	border: 0;
}

#header {
	height: 61px;
	background-color: #323232;
	position: relative;
	right: 0; left: 0;
}
	#header h1 {
		margin: 0;
		padding: 0;
		position: absolute;
		font-size: 27pt;
		font-weight: normal;
		height: 43px;
		color: #FFF;
		left: 22px;
		bottom: 0;
	}
	#header a {
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		text-align: right;
		font-size: 13pt;
		color: #777;
		border-bottom-width: 0;
		border-bottom-style: solid;
		padding: 0 5px 8px 0;
		text-decoration: none;
	}   #header a:hover {
			color: #FFF;
			border-bottom-width: 6px;
			padding: 0 5px 2px 0;
		}
	#header a.current {
		border-bottom-width: 6px;
		color: #FFF;
		padding: 0 5px 2px 0;
	}
	#header a.spacer {
		width: 219px;
		z-index: 5;
		height: 54px;
	}   #header a.spacer:hover {
			border-bottom-width: 0;
		}
	#header a.journal {
		width: 330px;
		border-bottom-color: #C80000;
		z-index: 3;
	}
	#header a.gallery {
		width: 504px;
		border-bottom-color: #0088C8;
		z-index: 2;
	}
	#header a.code {
		width: 662px;
		border-bottom-color: #1E8000;
		z-index: 1;
	}
#h-img {
	height: 210px;
	text-align: center;
	right: 0;
	left: 0;
	position: relative;
	background-color: #5E5E5E;
}
	#h-img > img {
		margin: 0 auto;
	}
	#h-img .img-caption {
		position: absolute;
		right: 0;
		bottom: 20px;
		background: url(img/50grey.png) repeat;
		padding: 3px 4px 3px 10px;
		color: #FFF;
		cursor: default;
	}
#sidebar {
	position: absolute;
	top: -11px;
	bottom: -11px;
	left: 0;
	width: 156px;
	background: url(img/50grey.png) repeat;
	z-index: 10;
	padding: 24px 0 0;
}
	#sidebar h5 {
		margin: 0 -13px 0 0;
		padding: 0 15px 0 0;
		background-color: #4E4E4E;
		color: white;
		text-align: right;
		font-size: 18px;
		font-weight: normal;
	}
	
#body {
	position: relative;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 15px 0 15px 190px;
	z-index: 9;
	height: 100%;
	background: #FFF;
}

#footer {
	position: relative;
	clear: both;
}