<div id="about">
   <h1>About</h1>
   <div class="info">
      <label>Name:</label>
      <span>Jeff</span>
   </div>
   <div class="info">
      <label>Occupation:</label>
      <span>Developer/Programmer/Nerd/?</span>
   </div>
   <div class="info">
      <label>Location:</label>
      <span>Chicago, IL</span>
   </div>
   <div class="info">
      <label>Age:</label>
      <span>25</span>
   </div>
   <div class="blurb">
      <label>Summary:</label>
      <span>I am a developer, aka I like to code things.  I enjoy it because making things by hand (or
         by keyboard) is very rewarding.  Solving problems is too.  Developing software lets me do it
         for almost zero cost, whereever I want.  If I want a website, I can write my own (and I did).
         I am continuing to look and try to find things to challenge my abilities and to grow as a
         person/developer.  I wrote this site with the idea of open sourcing it as a challenge to write
         something that I am proud of letting others see into.</span>
   </div>
</div>
