<div id="about">
   <h1>About</h1>
   <div class="info">
      <label>Name:</label>
      <span>Jeff</span>
   </div>
   <div class="info">
      <label>Occupation:</label>
      <span>Developer/Programmer</span>
   </div>
   <div class="info">
      <label>Location:</label>
      <span>Chicago, IL</span>
   </div>
   <div class="info">
      <label>Age:</label>
      <span>25</span>
   </div>
   <div class="info">
      <label>Twitter:</label>
      <span><a href="https://twitter.com/jdost_/">@jdost_</a></span>
   </div>
   <div class="blurb">
      <label>Summary:</label>
      <p>I am a developer, aka I like to code things.  I enjoy it because making things by hand (or
         by keyboard) is very rewarding.  Solving problems is too.  Developing software lets me do it
         for almost zero cost, whereever I want.  If I want a website, I can write my own (and I did).
         I am continuing to look and try to find things to challenge my abilities and to grow as a
         person/developer.  I wrote this site with the idea of open sourcing it as a challenge to write
         something that I am proud of letting others see into.</p>
      <p>I am going to use this site to write about stuff, just about anything can go, post images so
         that other people can also see them, and anything else I may add in.  I do most of the development
         of this on the train, so the progress is going to come in small chunks depending on when I am
         motivated and which train I catch.</p>
   </div>
</div>
