<html>
   <head>
      <title> Jeff | admin </title>

      <script type="text/javascript" src="{{ page.values.STATIC }}/js/lib/jQuery"></script>
      <script type="text/javascript" src="{{ page.values.STATIC }}/js/utils.js"></script>
      <script type="text/javascript">
         window.page = {
            static_root : "{{ page.values.STATIC }}"
         }
      </script>

      <link rel="stylesheet" type="text/css" href="{{ page.values.STATIC }}/css/admin.css" />

   </head>
   <body>
      <div id="nav"></div>
      <div id="body"></div>

      <div id="scripts"></div>
      <div id="styles"></div>

      <script type="text/javascript">
         $(document).ready(function () {
            utils.init({
               javascript: page.static_root + "/js/",
               stylesheet: page.static_root + "/css/admin/",
            });
            window.ui = {};
            utils.require({ name: "ui.cards", path: "ui/cards" });
            utils.require({ name: "ui.multiselect", path: "ui/multiselect" });
            utils.require({ name: "admin", path: "admin" });
            utils.require({ name: "notify", path: "notify" });
            utils.require({ name: "journal", path: "admin/journal" });
            utils.require({ name: "gallery", path: "admin/gallery" });
         });
      </script>
   </body>
</html>
