<html>
   <head>
      <title>Admin Mock</title>
      <link rel="stylesheet" type="text/less" href="/s/less/admin.less" />
      <script type="text/javascript">
         var WS_PREFIX = '/ws';
      </script>
   </head>
   <body>
      <div id="nav"></div>

      <div id="body">
      </div>

      <div id="footer"></div>

      <script type="text/javascript" src="/s/js/lib/jQuery"></script>
      <script type="text/javascript" src="/s/js/lib/less"></script>
      <script type="text/javascript" src="/s/js/lib/underscore"></script>
      <script type="text/javascript" src="/s/js/lib/showdown"></script>
      <script type="text/javascript" src="/s/js/admin.js"></script>
      <script type="text/javascript" src="/s/js/admin/journal.js"></script>
      <script type="text/javascript" src="/s/js/admin/gallery.js"></script>
      <script type="text/javascript">
         $(document).ready(less.watch)
            .ready(function () {
               auth();
            });
      </script>
   </body>
</html>
