{% load markup %}
      <script type="text/javascript">
         window.server.pages = {
         };
      </script>
      <div id="gallery">
         {% if data.album_list %}
         <div class="albumList">
            {% for album in data.album_list %}
            <a href="{{ album.get_absolute_url }}" class="album">
               <div class="albumCover">
                  <div class="cover"><img src="{{ album.get_cover_url }}" /></div>
                  <h3>{{ album.name }}</h3>
                  <div class="description">{{ album.description|markdown }}</div>
               </div>
            </a>
            {% endfor %}
            <script type="text/javascript">
               window.server.pages.current = 1;
            </script>
         </div>
         {% else %}
         <div class="album">
            <div class="nav">
            {% for page in data.nav.pages %}
               {% if data.nav.current == forloop.counter0 %}
                  <span class="current">{{ forloop.counter }}</span>
               {% else %}
                  <a href="{{ page }}">{{ forloop.counter }}</a>
               {% endif %}
            {% endfor %}
            </div>
            {% for image in data.image_list %}
            <a class="image" id="thumb_{{ image.url }}" href="{{ image.get_absolute_url }}">
               <img class="thumbnail" src="{{ image.get_thumbnail_url }}" />
            </a>
            {% endfor %}
         </div>
         <script type="text/javascript">
            window.server.pages.current = 2;
            window.server.pages.album = {
               url     : "{{ data.album.get_absolute_url }}"
            ,  name    : "{{ data.album.name }}"
            ,  pages   : [{% for p in data.nav.pages %}"{{ p }}",{% endfor %}]
            ,  current : {{ data.nav.current }}
            };
            window.server.pages.images = [
            {% for i in data.image_list %}
               { url: "{{ i.get_absolute_url }}", caption:"{{ i.caption|markdown }}", views: {{ i.views }}}{% if not forloop.last %},{% endif %}
            {% endfor %}
            ];
         </script>
         {% endif %}
      </div>
