body {
   overflow-x: hidden;
}

.card {
   width: 100%;
   left: 100%;
   position: absolute;
   min-height: 100%;
}
.card .window {
   max-width: 80%;
   margin: 30px auto 10px;
}
.backControl, .forwardControl {
   height: 100%;
   background: rgba(0,0,0,0.3);
   color: white;
   position: absolute;
   opacity: 0.5;
   top: 0;
   cursor: pointer;
   display: none;
}
.backControl > div,
.forwardControl > div {
   top: 50%;
   position: relative;
   padding: 0 5px;
}
.backControl:hover,
.forwardControl:hover {
   opacity: 1.0;
}
.backControl {
   left: 0;
}
.forwardControl {
   right: 0;
}
